<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>ContactUs</title>
    <link rel="stylesheet" href="css/contactStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Shortcut Icon" type="image/png" href="images/favicon.png">
    <style>
      h2 {
        cursor: pointer;
        color: black;
      }
      
      h2:hover {
        color: purple;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2><a href="/"><u>READy</u></a></h2>
      <div class="content">
        <div class="left-side">
          <div class="address details">
            <i class="fas fa-map-marker-alt"></i>
            <div class="topic">Address</div>
            <div class="text-one">Eastern Province</div>
            <div class="text-two">Dhahran, Saudi Arabia</div>
          </div>
          <div class="phone details">
            <i class="fas fa-phone-alt"></i>
            <div class="topic">Phone</div>
            <div class="text-one">+966 5893 5647</div>
            <div class="text-two">+966 5434 5678</div>
          </div>
          <div class="email details">
            <i class="fas fa-envelope"></i>
            <div class="topic">Email</div>
            <div class="text-one">READy@gmail.com</div>
          </div>
        </div>
        <div class="right-side">
          <div class="topic-text">Send us a message</div>
          <form>
            <div class="input-box">
              <input type="text" placeholder="Enter your name">
            </div>
            <div class="input-box">
              <input type="email" placeholder="Enter your email">
            </div>
            <div class="input-box message-box">
              <textarea id="Query" name="TextQ" rows="4" cols="40" placeholder="Enter your message"></textarea>
            </div>
            <div class="button">
              <a href="mailto:READy@gmail.com?subject=" id="email-link" onclick="setEmailSubject();" >Send Now</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <script>
      function setEmailSubject() {
        var emailInput = document.querySelector('input[type="email"]');
        var emailLink = document.getElementById('email-link');
        var emailSubject = encodeURIComponent("From the website " + emailInput.value);
        var emailBody = encodeURIComponent(document.getElementById('Query').value.trim());
        emailLink.href = "mailto:READy@gmail.com?subject=" + emailSubject + "&body=" + emailBody;
      }
    </script>
  </body>
</html>