<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-In</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="Shortcut Icon" type="image/png" href="images/favicon.png">
  </head>
  <body>

    <div class="container">
        <h2>
          <a href="/"><u>READy</u></a>
        </h2>
      <div class="wrapper">
        <div class="title"><span>Login </span></div>
        <form action="/login" method="POST">
          <div class="row">
            <i class="fas fa-user"></i>
            <input type="text" id="email" name="email" placeholder="Email" required>
          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
            <input type="password" id="password" name="password" placeholder="Password" required>
          </div>
          <div class="row button">
            <input type="submit" value="Login">
          </div>
          <div class="signup-link">Not a member? <a href="/register">Signup now</a></div>
        </form>
        <% if(messages.error) { %>
          <p><%= messages.error %></p> <!-- make this center and red -->
          <%} %>
      </div>
    </div>

  </body>
</html>
