<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style1.css">
    <link rel="Shortcut Icon" type="image/png" href="images/favicon.png">
   </head>
<body>
  <div class="wrapper">
    <h2>READy || Registration</h2>
    <form action="/register" method="POST">
      <div class="input-box">
        <input type="text" id="name" name="name" placeholder="Enter your name" required>
      </div>
      <div class="input-box">
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
      </div>
      <div class="input-box">
        <input type="password" id="password" name="password" placeholder="Create password" required>
      </div>
      <div class="input-box">
        <input type="password" id="confirm-password" name="confirm-password" placeholder="Re-enter password" required>
      </div>
      <div class="input-box">
        <input type="number" id="phone" name="phone" placeholder="Enter your phone number" required>
      </div>
      <div class="policy">
        <input type="checkbox" required>
        <h3>I accept all terms & condition</h3>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Register Now">
      </div>
      <div class="text">
        <h3>Already have an account? <a href="/login">Login now</a></h3>
      </div>
      <% if (messages.error) { %>
        <p style="color: red"><%- messages.error -%></p>
      <% } %>
    </form>
  </div>
  <script>
    // Add client-side validation for password and confirm-password fields
    const passwordField = document.getElementById('password');
    const confirmPasswordField = document.getElementById('confirm-password');
    
    function validatePasswords() {
      if (passwordField.value !== confirmPasswordField.value) {
        confirmPasswordField.setCustomValidity("Passwords do not match.");
      } else {
        confirmPasswordField.setCustomValidity("");
      }
    }
    
    passwordField.addEventListener("change", validatePasswords);
    confirmPasswordField.addEventListener("keyup", validatePasswords);
  </script>
</body>
</html>